* {
  font-family: monospace;
  font-size: 12px;
  font-weight: 400;
  box-sizing: border-note;
  margin: 0;
  padding: 0;
}

body {
  line-height: 1.5;
  color: #3C3;
  background-color: black;
}

button {
  padding: 10px;
  color: #3C3;
  border: 1px solid #3C3;
  background-color: black;
}

label {
  border: 1px solid #3C3;
  padding: 10px;
}

input {
  width: 230px;
  padding: 10px;
  color: white;
  border: 1px solid #3C3;
  outline: none;
  background-color: black;
}

input.update {
  width: 150px;
}

#new-note-button {
  margin: 10px;
}

#clear-button {
  margin: 10px;
  color: red;
  border-color: red;
}

#color-form {
  margin: 10px;
}

#note-form {
  margin: 10px;
}

#note-container {
  display: flex;
  flex-wrap: wrap;
}

.note {
  position: relative;
  font-family: monospace;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 200px;
  margin: 10px;
  border: 1px solid #3C3;
}

.coords {
  position: absolute;
  top: 0;
  left: 0;
}

.update-form {
  margin: 10px;
}

.hidden-html {
  display: none;
}